<!DOCTYPE html>
<html
  lang="fa"
  dir="rtl"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <title>فعالسازی ایمیل Wallert</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div style="direction: rtl; margin-top: 20px">
      <h2>فعالسازی ایمیل حساب کاربری</h2>
      <p style="font-size: 14px">
        برای فعالسازی ایمیل حساب کاربری خود روی لینک زیر کلیک کنید.
      </p>
      <a
        href="<%= locals.url %>"
        style="
          display: inline-block;
          background: #2e58ff;
          color: #ffffff;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 30px;
          margin: 0;
          text-decoration: none;
          text-transform: uppercase;
          padding: 5px 25px;
          mso-padding-alt: 0px;
          border-radius: 30px;
        "
        target="_blank"
      >
        فعالسازی ایمیل
      </a>
      <p style="font-size: 14px">
        اگر درخواست فعالسازی ایمیل نداده اید لطفا به این ایمیل توجه نکنید.
      </p>
    </div>
  </body>
</html>
